version: 1
disable_existing_loggers: false

# 统一格式
formatter:
  format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
  datefmt: "%Y-%m-%d %H:%M:%S"

# 控制台输出
console:
  level: DEBUG
  class: logging.StreamHandler
  formatter: formatter
  stream: ext://sys.stdout

# 文件输出
file:
  level: INFO
  class: logging.handlers.RotatingFileHandler
  formatter: formatter
  filename: "logs/hengline_%Y-%m-%d.log"  # 添加日期格式
  maxBytes: 10485760
  backupCount: 5
  encoding: utf8

# 日志级别配置
levels:
  root: INFO
  uvicorn: INFO
  app: INFO
  llm: DEBUG

# handlers分配
handlers:
  root: [console, file]
  uvicorn: [console]
  app: [console, file]